.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body{
  margin:0px;
  padding: 0px;
}
.cim{
  background-image:url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height:719px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.helso{
  font-size: 80px;
  margin-right:800px;
  margin-top:400px;
  margin-bottom:-40px;
  font-family: 'Abril Fatface', cursive;
  color: rgb(255, 255, 255);
}
.hmasodik{
  font-size:135px;
  margin-right:200px;
  font-family: 'Abril Fatface', cursive;
  color: rgb(255, 255, 255);
}
.wholemain{
  text-align: center;
  width: 100vw; 
  font-size:45px;
}
.szoveg{
 margin-top:100px;
  
}
ul{
  text-align: center;
}

blockquote::before{
  position:absolute;
  top:10px;
  left:20px;
  content:'"';
  background:grey;
  font-family: 'Abril Fatface', cursive;
  font-size: 100px;
  

}
blockquote::after{
  position:absolute;
  bottom:0px;
  right:20px;
  content:'"';
  background:grey;
  font-family: 'Abril Fatface', cursive;
  font-size: 100px;
  

}
blockquote{
  position:relative;
  width:100vW;
  height:100px;
  text-align:center;
  background:grey;
  color:white;
  font-family: 'Abril Fatface', cursive;
  margin-left:auto;
  margin-right:auto;
  padding:40px 0px;
  font-size:50px;
}

@media screen and (max-width: 800px){
  .cim
  {
    height:100vh;
  }
  .helso {
    font-size: 30px;
    margin:0;  
  }
  .hmasodik{
    font-size:50px;
    margin:0;
  }
  .wholemain{
   font-size: 30px;
  }
  .szoveg{
    text-align: center;
  }
  blockquote::before{
    font-size: 50px;
  }  
  blockquote::after{
    font-size: 50px;
  }
  blockquote{
    font-size: 30px;
  }
}
