.active-link {
  color: #7963c9 !important;
}
body{
  background-image: url(/pictures/Resume/solid-concrete-wall-textured-backdrop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  color: #ffffff;
}
.custom-box-left{
  background: #060c21;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 0 10px #2d0578, 0 0 20px #2d0578;
}
.custom-box-right{
  background: #060c21;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 0 10px #c03b7d, 0 0 20px #c03b7d;
}
.education{
  color: #988BE9;
  font-weight: bold;
}
.experience{
  color: #D67AA8;
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .custom-box {
    width: 70vw; 
    height: 14vh; 
    overflow: auto;
  }
}

@media (min-width: 768px) {
  .custom-box {
    width: 30vw;  
    height: 17vh; 
  }
} 

@media (min-width: 992px) {
  .custom-box {
    width: 30vw;  
    height: 17vh;
  }
}

.navbar {
  border-bottom: 1px solid #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
}


.linktovideo {
  color: #49A4C5;
}
.linktovideo:visited {
  color: #add8e6;
}
p{
  font-size: 120%;
}