@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
nav{
    font-size: 130%;
}

body{
    font-family: "Open Sans", Verdana, Arial sans-serif;
}
.visuallyhidden {position:absolute; left:-9999px;}
nav#skiptocontent a {position:absolute; left:-9999px}
nav#skiptocontent a:focus {position:static; background-color:white}

footer {
    margin-top: auto;
}

.nav-link.active-link {
    font-weight: normal !important;
}

.navbar {
    border-bottom: 1px solid #ccc;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 50%;
  }
@media (max-width: 767px) {
  .navbar-toggler {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
  }
}