body {
    background-color: white;
    color: black;
    min-height: 100vh;

  }
  
  .custom-img {
    width: 80%;
  }
  
  .custom-hr {
    border-top: 2px solid #000000;
    width: 90%;
    margin: 0 auto;
  }
  
  p {
    text-align: justify;
    font-size: 180%;
  }
  h1,h2{
    font-size: 340%;
  }