@media print {
    body {
      background-color: white;
    }
    header, footer, .btn {
      display: none;
    }
    .custom-img {
      width: 50%;
    }
    .custom-hr {
      border-top: 1px solid #000000;
    }
    p {
      text-align: justify;
      font-size: 100%;
    }
  }