@media print {
    body {
      background-color: white;
      color: black;
    }
    .custom-hr, .social_logos, footer, header, caption {
      display: none;
    }
    .custom-padding {
      padding-top: 1rem;
    }
    .custom-table td {
      padding: 10px;
    }
    .custom-form {
        width: 100%;
        height: auto;
        background-color: white;
        color: black;
    }
    .table-responsive{
      font-size: 50%;
    }
  }